/node_modules
/dist
/.DS_Store
/__tests__
.DS_Store
build
.idea
.gradle
*.iml
/android/local.properties
*/*.iml
android.iml
base.iml
app.iml

*.hmap
*.ipa
*.dSYM.zip
*.dSYM
xcuserdata/
*.xcworkspace
autopack.sh
IPA
Pods/
Podfile.lock
.project
.settings
.classpath

package-lock.json
yarn.lock
yarn-error.log
/script/sh_result.txt
/script/rn-package.log

/scriptWeb
/scriptApp
/ios/bundle
/android/app/src/main/assets/index.android.bundle